body{background:rgb(159, 238, 242);
font-family:'Asap', sans-serif;
color:teal;
text-align:center;
}
button{color:teal;
background-color:white;
padding:10px;
margin:17px;
font-size:20px;
border:17px;
border-color:teal;
}
 
h2{color:white;} 